
pre, blockquote {
    display: block;
    border-radius: 12px;
    /*border-color: darkgoldenrod;*/
    /*border : 0.1px solid ;*/
    color: #d5d6e0;
    font-size: small;
    background-color: rgba(139, 0, 0, 0.5);
    margin: 0.3rem;
    padding: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    white-space: pre-wrap;
}

hr {
    margin: 1rem 0;
}

article {
    color: #9eacd5;
    background-color: #1a1b26;
    border-radius: 4px;
    font-family: Roboto, serif;
    padding: 0.7rem;
    /*height: 100%;*/
}

article > h1, article > h2, article >h3, article >h4, article > h5 {

    color: #bb9af7;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article > h1 {
    font-size: 2.5rem;
}

article > h2 {
    font-size: 2.25rem;
}

article > h3 {
    font-size: 1.75rem;
}
article > h4 {
    font-size: 1.5rem;
}
article > h5 {
    font-size: 1.25rem;
}


article > p {
    /* margin-top: 1rem; */
    margin-bottom: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    /*line-height: 3rem;*/
}

article > ul, ol {
    list-style-position: outside;
    margin-left: 1rem;
}

article > ul {
    list-style-type: circle;
}

article > ol {
    list-style-type: decimal;
}

  img {
    border-radius: 4px;
}

article  a {
    color: indianred;
    font-weight: 600;
}
.screenshots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.screenshots-container > img ,.screenshots-container > picture {
    width: 30%;
    padding: 0.5rem;

}
@media (max-width: 768px) {
    article> .screenshots-container > img,.screenshots-container > picture {
        width: 50%;
    }
}
@media (max-width: 640px) {
    article> .screenshots-container > img,.screenshots-container >  picture {
        width: 80%;

    }
}

@media (max-width: 475px) {
    article> .screenshots-container > img ,.screenshots-container > picture {
        width: 100%;

    }
}

article > p code {
    background-color: #d2c2ae;
    font-weight: 500;
    color: #900;
    border-radius: 4px;
    padding: 0.05rem;

/*    background-color: #480000;*/
/*    font-weight: 500;*/
/*    color: #eec48e;*/
/*    border-radius: 4px;*/
/*    padding: 0.05rem;*/
}
@media (min-width: 475px) {
    article  img {
        margin: auto;
        width: 80%;
    }
}
